body { background: #77367a; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 19px; display: flex; }
.block-router-0 { color: #8e077f; font-size: 17px; margin-bottom: 5px; }
.block-order-1 { color: #41445; font-size: 15px; margin-bottom: 5px; }
.block-cluster-2 { color: #6363d6; font-size: 19px; margin-bottom: 5px; }
.block-token-3 { color: #b2d947; font-size: 13px; margin-bottom: 5px; }
.block-cluster-4 { color: #e426f3; font-size: 18px; margin-bottom: 5px; }